.sv-data-fetcher-block__inner {
    background-color: #ffffff;
    padding: 15px;
}

.sv-data-fetcher-block__inner h2 {
    font-size: 22px;
    line-height: 24px;
    font-weight: bold;
    margin: 0px 0 15px 0px;
}
